.container {
    width: 400px;
    height: 85%;
    background-color: white;
    position: absolute;
    top: 95px;
    z-index: 1;
    border-radius: 10px;
    right: 15px;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
    /* border: 1px solid #ccc;   */
    overflow: scroll;
}

.toggleButtonOpen {
    background-color: unset;
    border: none;
    position: absolute;
    z-index: 1;
    right: 5px;
    top: 95px;
    /* width: 60px;
    height: 60px; */
    /* border-radius: 5px;
    border: 1px solid #ccc; */
}

.toggleButtonClose {
    background-color: unset;
    border: none;
    position: absolute;
    z-index: 1;
    right: 420px;
    top: 90px;
    /* width: 60px;
    height: 60px; */
    /* border-radius: 5px;
    border: 1px solid #ccc; */
}



aside {
    overflow: scroll;
}
