.container {
    height: 83px;
    background-color: #ffffff;
    margin: 5px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    /* border-radius: 10px; */
    /* border-bottom: 1px solid #ccc; */
}

.parentContainer {
    border-bottom: 1px solid #ccc;
}

.container:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

p, h3 {
    margin: 0;
}

.svgContainer {
    padding: 10px;
    width: 20%;
}

.svgContainer img {
    width: 50%;
}

.infoContainer {
    padding: 10px;
    width: 80%;
}

.infoContainer h3 {
    margin-bottom: 5px;
    font-weight: 400;
}

.infoContainer p {
    font-size: 14px;
    color: #777;
}